name: Manage Render Service Weekly

on:
  workflow_dispatch: # Ativa o botão para teste manual
  schedule:
    # 00:00 UTC de Segunda-feira (Liga o serviço)
    - cron: '0 0 * * 1'
    # 23:59 UTC de Sexta-feira (Desliga o serviço)
    - cron: '59 23 * * 5'

jobs:
  manage_service:
    runs-on: ubuntu-latest
    steps:
      - name: Resume or Suspend Service
        run: |
          # Pega o dia da semana (1=Segunda, 5=Sexta)
          # No UTC, segunda-feira é dia 1
          DAY=$(date +%u)
          
          # Se rodado manualmente OU se for segunda-feira, ele liga (resume)
          if [ "${{ github.event_name }}" == "workflow_dispatch" ] || [ "$DAY" -eq "1" ]; then
            ACTION="resume"
            echo "Ação definida: LIGAR serviço"
          else
            ACTION="suspend"
            echo "Ação definida: DESLIGAR serviço"
          fi
          
          curl --request POST \
            --url https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/$ACTION \
            --header 'accept: application/json' \
            --header 'authorization: Bearer ${{ secrets.RENDER_API_KEY }}'
